$fw-blue: #002868;
$fw-blue-dark: darken($fw-blue, 4%);
$fw-blue-light: lighten($fw-blue, 10%);
$fw-blue-ultralight: lighten($fw-blue, 25%);
$fw-red: #BF0A30;
$fw-info: #2F96B4;
$fw-black: #333333;
$fw-green: #2AB27B;
$fw-warning: #F89406;
$fw-white: #FFFFFF;
$fw-gray-light: #F1F1F1;
$fw-gray-lighter: #F4F4F4;
$fw-gray-ultra-light: #F9F9F9;
$fw-gray: #999999;

// Social Networks
$fw-facebook: #4267b2;
$fw-facebook-hover: #365899;
